

    <p><%= link_to 'Cadastrar Nova Vaga', new_headhunter_job_opportunity_path(current_headhunter) %></p>
    <p><%= link_to 'Vagas Cadastradas', headhunter_job_opportunities_path(current_headhunter,
                                 current_headhunter.job_opportunities) %></p>

    <p> <%= link_to 'Pesquisar Candidatos', search_profiles_path%>
