 <% if @job_opportunities.nil? %>
        <p> Nenhuma vaga cadastrada </p>
    <% else %>
        <% @job_opportunities.each do |opportunity| %>
        <p>
        <%= link_to opportunity.description_job_opportunity, opportunity %>               
        </p>
        <% end %>
    <% end %>
<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'Cadastrar Nova Vaga', new_headhunter_job_opportunity_path(current_headhunter) %></p>


