<% if headhunter_signed_in? %>
    <% if @job_opportunities_of_headhunter.empty? %>
        <p> Nenhuma vaga cadastrada </p>
    <% else %>
        <% @job_opportunities_of_headhunter.each do |opportunity| %>
        <p>
        <%= link_to opportunity.description_job_opportunity, opportunity %>               
        </p>
        <% end %>
    <% end %>
    
<% elsif job_seeker_signed_in? %>
    <% if @all_job_opportunities.empty? %>
        <p> Nenhuma vaga cadastrada </p>
    <% else %>
        <% @all_job_opportunities.each do |opportunity| %>
        <p>
        <%= link_to opportunity.description_job_opportunity, opportunity %>               
        </p>
        <% end %>
    <% end %>
<% end %>

<p><%= link_to 'Home', root_path %></p>
 