
    <% if @job_opportunities.empty? %>
        <p> Nenhuma vaga cadastrada </p>
    <% else %>
        <% @job_opportunities_of_headhunter.each do |opportunity| %>
        <p>
        <%= link_to opportunity.description_job_opportunity, opportunity %>               
        </p>
        <% end %>
    <% end %>
    <p><%= link_to 'Home', root_path %></p>
    <p> <%= link_to 'Inscrições', subscriptions_by_job_seeker_job_opportunities_path, method: :get %> </p>
